

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger"  >
                        <h4 class="card-title " >Liste des Formateurs </h4>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">

                      
                         
                        <div class="table-responsive">
                            
                            <div class="row">
                                <span class="col col-lg-2">Rechercher par :</span>
                                <input  matInput  type="text" placeholder="Cin" class="col-md-3"  [(ngModel)]="cin"    (input)="searchBycin('Formateur')"/>
                            
                                <input matInput  type="text" placeholder="Nom" class="col-md-3"  [(ngModel)]="nom"  (input)="searchByNom('Formateur')"/>

                                  <input matInput  type="text" placeholder="Num Tél" class="col-md-3"  [(ngModel)]="tel"  />
    
                            </div>
                                       
                        
                            <table class="table">
                                
                                <thead class=" text-primary">
                                    
                                    <th>
                                        Cin
                                     </th>
                                    <th>
                                       Nom
                                    </th>
                              
                                    <th>
                                        Prenom
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Num Télephone
                                    </th>
                                    <th>
                                        Certif
                                    </th>
                                    <th>
                                        Etat Du Compte
                                    </th>
                    
                                    
                     <th>Actions</th>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of tabFormateur |filter:tel ">
                                            <td>
                                                <mat-icon mat-list-item>person</mat-icon>
                                                {{item.cin}}
                                            </td>
                                        <td>
                                            {{item.nom}}
                                        </td>
                                     
                                        <td>
                                            {{item.prenom}}
                                        </td>
                                        <td>
                                            {{item.email}}
                                        </td>
                                        <td>
                                            {{item.num_tel}}
                                        </td>
                                  <td>
                                    <div mat-line *ngFor="let certif of item.certifs" >
                                        <div mat-line>
                                            {{certif.name}}
                                            <mat-icon (click)="openDialog(certif.photoCertif)" >info</mat-icon>
                                        </div>
                                    </div>
                                  </td>

                                  <td>
                                      <div *ngIf="item.flg_statut==0;else verifier">
                                        Compte Non Vérifié
                                      </div>
                                      <ng-template #verifier>
                                        Compte Vérifié
                                      </ng-template>
                                    </td>
                        
                                        <td class="td-actions text-right" *ngIf="item.flg_statut==0">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-success" (click)="validerCompte(item.user_id)">
                                                <i class="material-icons">check</i>
                                                
                                            </button>

                                        </td>

                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-info" (click)="openDialogToModify(item.nom,item.prenom,item.cin,item.email,item.num_tel,item.user_id)"  >
                                                <i class="material-icons">edit</i>
                                                
                                            </button>
                                        </td>

                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-danger"  (click)="SupprimerCompte(item.user_id,item.type_compte)">
                                                <i class="material-icons">clear</i>
                                                
                                            </button>
                                        </td>
                                    </tr>

                                    

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des Apprenants </h4>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">

                      
                         
                        <div class="table-responsive">
                            <div class="row">
                                <span class="col col-lg-2">Rechercher par :</span>
                                <input  matInput  type="text" placeholder="Cin" class="col-md-3"  [(ngModel)]="cin2"   />
                            
                                <input matInput  type="text" placeholder="Nom" class="col-md-3"  [(ngModel)]="nom2" />

                                  <input matInput  type="text" placeholder="Num Tél" class="col-md-3"  [(ngModel)]="tel2"  />
    
                            </div>
                                     
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Cin
                                     </th>
                                    <th>
                                       Nom
                                    </th>
                                  
                                    <th>
                                        Prenom
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Num Télephone
                                    </th>
                                    <th>
                                        Actions
                                    </th>
   
                                    
                     
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of tabApprenant |filter:cin2| filter:nom2 |filter:tel2 ">
                                            <td>
                                                <mat-icon mat-list-item>person</mat-icon>
                                                {{item.cin}}
                                            </td>
                                        <td>
                                           
                                            {{item.nom}}
                                        </td>
                                     
                                        <td>
                                            {{item.prenom}}
                                        </td>
                                        <td>
                                            {{item.email}}
                                        </td>
                                        <td>
                                            {{item.num_tel}}
                                        </td>
                           
                                        
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-info" (click)="openDialogToModify(item.nom,item.prenom,item.cin,item.email,item.num_tel,item.user_id)"  >
                                                <i class="material-icons">edit</i>
                                                
                                            </button>
                                        </td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-danger"  (click)="SupprimerCompte(item.user_id,item.type_compte)">
                                                <i class="material-icons">clear</i>
                                                
                                            </button>
                                        </td>
                                        
                                    </tr>

                                    

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          
            
        </div>
    </div>
  </div>
  <app-chatbot></app-chatbot>
