<div class="main-content">
    <h1>Liste Utilisateurs</h1>
    <mat-action-list >
        <mat-list-item *ngFor="let user of tab">
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>{{user.nom}} {{user.prenom}}</div>
            <div mat-line *ngFor="let certif of user.certifs" >
                <div mat-line>
                    {{certif.name}}
                    <mat-icon (click)="openDialog(certif.photoCertif)" >info</mat-icon>
                </div>
            </div>
            
            <mat-divider vertical="true"></mat-divider>
            <mat-divider vertical="true"></mat-divider>
            <mat-icon  (click)="validerCompte(user.user_id)" >check</mat-icon>
        <mat-divider></mat-divider>
        </mat-list-item>

    </mat-action-list>
</div>

