body,html{

  margin: 0;
  overflow: hidden;

  background-color: white;
}

#nav-bar{
  position: relative;
  top: 0;
  z-index: 10;
}
.navbar{
  color: #B73A5D;
  background-color: white;


}


.navbar-brand img{

padding-left: 20px;
}
.navbar-nav li a {
  color:#B73A5D !important;
font-weight: bold;

}
.navbar-toggler-icon{
  color:white ;
  font-size: 30px !important ;

}

.nav-item {
margin-right: 20px;
}

.navbar-toggler{
  outline: none !important;
}

#banner{
  color: rgb(151, 36, 36);
  height: 1000px;
  padding-top: 5%;
}
.play-btn{
  margin-top: 30px;
}

.promo-title{
  font-size:40px;
  font-weight:bold;
  margin-top:100px;
  color: #083741;
}

#banner a {
  color:#fff;
}



#nav-bar .menu-right li.menu-cta{
  width: 150px;
  margin-top: .7em;
  padding: .5em;
  transition: -3 all ease;
  text-align: center;
  border-radius: 3px;
  background: #B73A5D ;
  display: inline-block;
  color: white;
  border-radius: 20px;
  margin: 15px;
}

#nav-bar .menu-right li.menu-cta a{
  color:white;
  text-decoration: none;
}

