<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="https://lh3.googleusercontent.com/proxy/YXN8Bkt1B67DEZKl15_ux77s_Ii-9TIPT7le5LPM_MTWynZW59jOzxqPDZNAh9W4NwiwuBaadRi_9cYIEy7e6iFW7rg" alt="s2t">
                    </div>
                    <h1 class="presentation-title">S2T Formation</h1>
                   
                </div>

                <h2 class="presentation-subtitle text-center">PlateForme Educatif en Ligne</h2>
            </div>
        </div>
        <!-- <h6 class="category category-absolute">Designed and coded by -->

    </div>
   
</div>
