<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Modifier Profile</h4>
                  </div>
                  <div class="card-body">
                      <form  name="form" [formGroup]="form"  (ngSubmit)="onSubmit()" >
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="CIN" disabled="true" value="{{cin}}" formControlName="cin">
                                  </mat-form-field>
                              </div>
                             
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email" value="{{email}}" formControlName="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text" value="{{nom}}" formControlName="nom">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text" value="{{prenom}}" formControlName="prenom">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Num° Tél" type="text" value="{{tel}}" formControlName="tel">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Date de Naissance" type="date" value="{{datenaissance}}" >
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Anciene Mot de passe" type="password" formControlName="passwordold">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nouveau Mot de passe" type="password" formControlName="passwordnew">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row" *ngFor="let certif of userCertifs ;let i = index;" >
                            <div class="update ml-auto mr-auto" >
                              <h5>{{certif.name}}</h5>
                              <input type="file" accept='image/*' id="myfile" name="myfile" (change)="onFileChanged($event,i)" >
                              <img [src]="imgURLs[i]"  *ngIf="imgURLs" height="300" width="300"><br>
                              <input type="button" (click)="onUpload(certif.id)" value="upload" />
                            </div>
                          </div>
               
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                      <div >
                        {{message}}
                      </div>
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">{{nom}} {{prenom}}</h4>
                    
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>
