<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header id="header">
    <div class="wrapper">
      <a href="#">
    <img src="https://pbs.twimg.com/profile_images/1120682403369029632/G9hRhKi1_400x400.png" alt="LOGO VIDE">
  </a>
    <button id="submenu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="menu-left">

      <li> <a href="#" target="_blank" rel="noopener noreferrer">
        Acceuil
        </a>
      </li>
      <li> <a href="#" target="_blank" rel="noopener noreferrer">
        Services
      </a>
      </li>
      <li> <a href="#" target="_blank" rel="noopener noreferrer">
        Contact
      </a>
      </li>
    </ul>

    <ul class="menu-right">
      <li class="menu-cta"><a href="#">Créer un compte</a></li>
      <li class="menu-cta"><a href="#">Se connecter</a></li>

    </ul>
  </div>
  </header>

<section id="intro">
  <div class="top-right-gradient"></div>
  <div class="wrapper">
    <div class="intro-left">
    <h1>Formation S2T</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque aspernatur earum dignissimos obcaecati ratione dicta ex quod quaerat nisi cupiditate nihil non reprehenderit eaque corrupti ipsam nesciunt, possimus, autem eos.</p>
    <a href="#" target="_blank" class="intro-cta">
      s"inscrire
    </a>
  </div>


  <div class="intro-right">
    <img src="https://www.qualitest.fr/sites/qualitest/themes/qualitest/img/undraw-studying.svg" alt="">
  </div>

</div>
<div class="bottom-left-gradient"></div>
</section>
</body>
</html>
