@import url('https://fonts.googleapis.com/css?family=Montserrat|Varela+Round&display=swap');
$primaryfont:"Montserrat";
$secondaryfont:"Varela Round";
$primarycolor:#4A1E9E;

.is-fluid{
  height: 100vh;
 
  padding-top: 14vh;
}



.box:hover{
  background-color: #DEDBD2;
}

.vcenter {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


img{
  width: 25vh;
}

.column{
  height: 75vh;
  background-color:white
}
.button{
  background-color:#2A3D45 ;
  color: white;
}

.separator{
  margin: 0 1vw;
}

h2{
  margin-top: 10px;
}