<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body style="background-image: url('../src/assets/img/daniel-olahs.jpg')">


    

<div class="container is-fluid">
<div class="container is-vcentered">
  <div class=" columns is-centered is-desktop">
  <div class=" column box is-4 has-text-centered">
    <div class="vcenter">
      <h2 class="subtitle">Formateur</h2>
    <img src="../../assets/Couterier.svg" alt="">
    <h3 class="subtitle">Vendez Vos Modéles</h3>
    <a class="button is-medium" [routerLink]="['/signup/Formateur']" routerLinkActive="router-link-active" >Créer un compte Formateur</a>

    </div>
    
  </div>

  <div class="separator"></div>
    
    
  <div class="column  box is-4  has-text-centered">
    <div class="vcenter">
      <h2 class="subtitle">Apprenant</h2>
    <img src="../../assets/Couterier.svg" alt="">
    <h3 class="subtitle">Achetez et Créez Des Modéles Personalisées</h3>
    <a class="button is-medium" [routerLink]="['/signup/Apprenant']" routerLinkActive="router-link-active" >Créer un compte Apprenant</a>

    </div>
    
  </div>
  <div class="separator"></div>

  <div class="column  box is-4  has-text-centered">
    <div class="vcenter">
      <h2 class="subtitle">Société</h2>
    <img src="../../assets/Couterier.svg" alt="">
    <h3 class="subtitle">Achetez et Créez Des Modéles Personalisées</h3>
    <a class="button is-medium" [routerLink]="['/inscription','Client']" routerLinkActive="router-link-active" >Inscrire</a>
    </div>
    
  </div>
  </div>
</div>
  
</div>

  </body>
</html>