
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">

    <div class="content " style="margin-top: 100px;">
    <div class="container is-fluid ">
      <div class="container is-vcentered">
        <div class=" columns is-centered ">
        <div class=" column box is-4 has-text-centered ">
          <div class="vcenter">
            <h2 class="subtitle">Formateur</h2>
            <img src="../src/assets/img/formateur.png" class="rounded mx-auto d-block" alt="...">
          <h3 class="subtitle">Vous pouvez s'inscrire ,déposer votre cv et commencer a formaté en ligne</h3>
          <a class="button is-medium" [routerLink]="['/signup/Formateur']" routerLinkActive="router-link-active" >Créer un compte Formateur</a>
      
          </div>
          
        </div>
      
        <div class="separator"></div>
          
          
        <div class="column  box is-4  has-text-centered">
          <div class="vcenter">
            <h2 class="subtitle">Apprenant</h2>
            <img src="../src/assets/img/apprenant.png" class="rounded mx-auto d-block" alt="...">
          <h3 class="subtitle">Vous pouvez s'inscrire a des sessions de formation</h3>
          <a class="button is-medium" [routerLink]="['/signup/Apprenant']" routerLinkActive="router-link-active" >Créer un compte Apprenant</a>
      
          </div>
          
        </div>
        <div class="separator"></div>
      
        <div class="column  box is-4  has-text-centered">
          <div class="vcenter">
            <h2 class="subtitle">Société</h2>
            <img src="../src/assets/img/societe.png" class="rounded mx-auto d-block" alt="...">
          <h3 class="subtitle">Vous pouvez traiter votre bilan pédagogique et financier en ligne</h3>
          <a class="button is-medium" [routerLink]="['/signup/Societe']" routerLinkActive="router-link-active" >Créer un compte Societe</a>
          </div>
          
        </div>
        </div>
      </div>
    </div>
      </div>
  </div>
 
</div>

    




