<app-chatbot></app-chatbot>



    <div class="content " >
        <div class="container is-fluid ">
          <div class="container is-vcentered">
            <div class=" columns is-centered ">
            <div class=" column box is-4 has-text-centered ">
              <div class="vcenter">
                <h2 class="subtitle">Formateur</h2>
                <img src="https://i.imgur.com/5ZAxq1v.png" class="rounded mx-auto d-block" alt="...">
              <h3 class="subtitle">Vous pouvez s'inscrire ,déposer votre cv et commencer a formaté en ligne</h3>
              <a mat-raised-button   (click)="typeuser1()" >Créer un compte Formateur</a>
    
              </div>
    
            </div>
    
            <div class="separator"></div>
    
    
            <div class="column  box is-4  has-text-centered">
              <div class="vcenter">
                <h2 class="subtitle">Apprenant</h2>
                <img src="https://i.imgur.com/rar1OOA.png" class="rounded mx-auto d-block" alt="...">
              <h3 class="subtitle">Vous pouvez s'inscrire a des sessions de formation</h3>
              <a mat-raised-button (click)="typeuser2()"  >Créer un compte Apprenant</a>
    
              </div>
    
            </div>
            <div class="separator"></div>
    
            <div class="column  box is-4  has-text-centered">
              <div class="vcenter">
                <h2 class="subtitle">Société</h2>
                <img src="https://i.imgur.com/3mDQ1Ul.png" class="rounded mx-auto d-block" alt="...">
              <h3 class="subtitle">Vous pouvez traiter votre bilan pédagogique et financier en ligne</h3>
              <a  mat-raised-button (click)="typeuser3()" >Créer un compte Societe</a>
              </div>
    
            </div>
            </div>
          </div>
        </div>
          </div>
    
    
    
    
    
    