<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" >
        <app-sidebar></app-sidebar>
       
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <th>
                           ID Recu
                        </th>
                        <th>
                           Dépose par
                        </th>
                        <th>
                            Pour La Session
                        </th>
                        <th>
                            Date Depot
                        </th>
                        <th>
                            Montant Recu 
                        </th>
                        <th>
                            Photo Recu
                        </th>
                       
  
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listRecus">
                  
                            <td>{{item.id}}</td>
                            <td>{{item.utilisateur.nom }} {{item.utilisateur.prenom}}</td>
                            <td>{{item.session.theme}}</td>
                            <td>{{item.dateDepot}}</td>
                            <td>{{item.prix}} DT</td>
                            <td>  <button mat-icon-button (click)="openDialog(item.photoRecu,item.utilisateur.user_id,item.session.session_id,item.id)" >
                                <mat-icon>visibility</mat-icon>
                              </button></td>

                        
                       
                        </tr>

                        

                    </tbody>
                </table>
            </div>
        </div>
        

            <app-footer></app-footer>

    </div>



</div>
