<app-chatbot></app-chatbot>

<div *ngIf="type=='formateur'">

    <form name="form" [formGroup]="form"  *ngIf="!isSuccessful"
    (ngSubmit)="onSubmit()"
     >
      <h1>S'inscrire</h1>
    
      <fieldset>
        <mat-form-field appearance="outline">
          <mat-label>CIN</mat-label>
          <input matInput  formControlName="cin" required maxlength="8"  />
          <mat-error *ngIf="f.cin.invalid">Veuillez Entrez un CIN valid (8 chiffres)</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="exemple@example.com" formControlName="email" required />
          <mat-error *ngIf="f.email.invalid">Veuillez Entrez une adresse mail valid </mat-error>
        </mat-form-field>
    
    
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput  formControlName="nom" required/>
          <mat-error *ngIf="f.nom.invalid">Votre Nom est obligatoire </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Prenom</mat-label>
          <input matInput formControlName="prenom" required  />
          <mat-error *ngIf="f.prenom.invalid">Votre Prénom est obligatoire </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Mot de Passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Confirmation Mot de Passe</mat-label>
          <input matInput type="password" formControlName="confirmPass">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Date Naissance</mat-label>
          <input matInput [matDatepicker]="picker" readonly formControlName="datenais" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Num Tél</mat-label>
          <input matInput formControlName="tel" required  />
          <mat-error *ngIf="f.tel.invalid">Le numéro de téléphone est obligatoire </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Rib</mat-label>
          <input matInput formControlName="rib" required  />
          <mat-error *ngIf="f.rib.invalid">Le RIB est obligatoire </mat-error>
        </mat-form-field>
    
      <mat-label>Compétences </mat-label>
    <button mat-icon-button (click)="openDialog('add')" type="button"  ><mat-icon>add</mat-icon></button>
      <mat-selection-list formControlName="listCertif"  >
      <mat-list-item *ngFor="let item of listCertif"    >
        <h3 matLine>{{item.name}}</h3>
        <h4 matLine>{{item.issue_date}}</h4>
        <mat-icon (click)="edit(item)" >edit</mat-icon>
        <mat-divider vertical="true"></mat-divider>
        <mat-icon (click)="delete(item)" >delete</mat-icon>
    <mat-divider></mat-divider>
       </mat-list-item>
       <mat-error *ngIf="listCertif.length==0">Veuillez Ajouter Au moins une certificat </mat-error>
       <mat-error *ngIf="listCertif.length==5">Vous Ajouter Au maximaum 5 certificats </mat-error>
      </mat-selection-list>
      </fieldset>
      <button mat-button type="submit" id="submit" >Inscrivez Vous</button>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    </div>
    <!--Apprenant-->
    <div *ngIf="type=='apprenant'">
    <form name="form1" [formGroup]="form1"  *ngIf="!isSuccessful"
    (ngSubmit)="onSubmit()"
     >
      <h1>S'inscrire</h1>
      <fieldset>
        <mat-form-field appearance="outline">
          <mat-label>CIN</mat-label>
          <input matInput  formControlName="cin" required maxlength="8"  />
          <mat-error *ngIf="f1.cin.invalid">Veuillez Entrez un CIN valid (8 chiffres)</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="exemple@example.com" formControlName="email" required />
          <mat-error *ngIf="f1.email.invalid">Veuillez Entrez une adresse mail valid </mat-error>
        </mat-form-field>
    
    
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput  formControlName="nom" required/>
          <mat-error *ngIf="f1.nom.invalid">Votre Nom est obligatoire </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Prenom</mat-label>
          <input matInput formControlName="prenom" required  />
          <mat-error *ngIf="f1.prenom.invalid">Votre Prénom est obligatoire </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Mot de Passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Confirmation Mot de Passe</mat-label>
          <input matInput type="password" formControlName="confirmPass">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Date Naissance</mat-label>
          <input matInput [matDatepicker]="picker" readonly formControlName="datenais" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Num Tél</mat-label>
          <input matInput formControlName="tel" required  />
          <mat-error *ngIf="f1.tel.invalid">Le numéro de téléphone est obligatoire </mat-error>
        </mat-form-field>
    
    
    
      </fieldset>
      <button mat-button type="submit" id="submit" >Inscrivez Vous</button>
      <div class="alert alert-warning" *ngIf="f1.submitted && isSignUpFailed">
    
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    </div>
    <div *ngIf="type=='societe'">
      <form name="form2" [formGroup]="form2"  *ngIf="!isSuccessful"
      (ngSubmit)="onSubmit()"
       >
        <h1>S'inscrire</h1>
        <fieldset>
          <mat-form-field appearance="outline">
            <mat-label>CIN</mat-label>
            <input matInput  formControlName="cin" required maxlength="8"  />
            <mat-error *ngIf="f2.cin.invalid">Veuillez Entrez un CIN valide (8 chiffres)</mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="exemple@example.com" formControlName="email" required />
            <mat-error *ngIf="f2.email.invalid">Veuillez Entrez une adresse mail valide </mat-error>
          </mat-form-field>
    
    
          <mat-form-field appearance="outline">
            <mat-label>Nom Societé</mat-label>
            <input matInput  formControlName="nom" required/>
            <mat-error *ngIf="f2.nom.invalid">Votre Nom est obligatoire </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mot de Passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Confirmation Mot de Passe</mat-label>
            <input matInput type="password" formControlName="confirmPass">
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Num Tél</mat-label>
            <input matInput formControlName="tel" required  />
            <mat-error *ngIf="f2.tel.invalid">Le numéro de téléphone est obligatoire </mat-error>
          </mat-form-field>
    
        </fieldset>
        <button mat-button type="submit" id="submit" >Inscrivez Vous</button>
        <div class="alert alert-warning" *ngIf="f2.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
    
    
    </div>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
    