@import url('https://fonts.googleapis.com/css2?family=Roboto');
body{
  margin:10vh 15vh;
}
.card{
  padding: 0 5%;
}
h1{
  text-align: center;
  font-family: 'Roboto';
}


@media screen and (max-width: 992px) {
  .card {
   padding: 0;
  }
  body{
    margin:10vh 0;
  }
}

.submit{
  background-color:purple;
  color: white;
  font-family: 'Roboto';
}
.comp{
  
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  margin-left: 2%;
}
